body{
    background-color: lightblue;
    color: slategrey;
    text-align: center;

}
a:hover{
    background-color: aqua;
    font-size: larger;
}

#chucky{
    width: 80vw;
    height: 60vh;
}

#farias{
    width: 80vw;
    height: 60vh;
}
#bixa{
    width: 80vw;
    height: 60vh;
}
#ouvirao{
    width: 80vw;
    height: 60vh;
}
