body{
    background-color: lightblue;
    color: slategrey;
    text-align: center;

}
a:hover{
    background-color: aqua;
    font-size: larger;
}

#chucky{
    width: 50vw;
    height: 50vh;
}

#farias{
    width: 50vw;
    height: 50vh;
}
#bixa{
    width: 50vw;
    height: 50vh;
}
#ouvirao{
    width: 50vw;
    height: 50vh;
}
